# WKT to check files match with the released artifact
/modules/sync/protocolbuffers/wellknowntypes/state.json @jhump @pkwarren @unmultimedio
# TODO: remove protocolbuffers/gofeatures on next release
/modules/sync/protocolbuffers/gofeatures/state.json @jhump @pkwarren @unmultimedio
